<nav class="navbar">
  <div class="navbar-left">
    <span id="left-heading">HMS</span>
    <a [routerLink]="link">Home</a>
  </div>
  <div class="navbar-right">
    <span id="welcome-text">Welcome, {{ userName }}!</span>
    <span>
      <button class="profile-icon" data-bs-toggle="modal" data-bs-target="#editModal"><i class="fas fa-user"></i></button>
    </span>
    <span class="logout" (click)="logout()">Logout</span>
  </div>
</nav>

<!-- View model for edit profile -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="isManager">
          <label>Hospital Name : <span></span></label>
          <label>Address : </label>
          <label>Pincode : </label>
          <label>Hospital Type :</label>
          <label>Contact no: </label>
        </div>
        <div *ngIf="isPatient">
          <label>First Name :</label>
          <label>Last Name :</label>
          <label>Contact No : </label>
          <label>Aadhar Card :</label>
          <label>Address :</label>
          <label>Pincode : </label>
          <label></label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply</button>
      </div>
    </div>
  </div>
</div>